html, body { 
	height: 100%; 
	margin-right: 20px; 
	margin-left: 20px;
	padding: 0;
 }
 h3 {
 	font-size: 24px;
 }	
 h2 {
 	font-size: 30px;
 }
 #map { 
 	float: right; 
 	height: 60%; 
 	width: 60%; 
 }
 #result { 
 	float: left; 
 	width: 40%; 
 }
 table {
 	border-collapse: collapse;
 }
 td {
 	border: 1px solid gray;
 	padding: 5px;
 }
 tr:nth-child(odd){
 	background-color: #f9f9f9; 
 }